/* You can add global styles to this file, and also import other style files */
:root {
    --gray:#89bdc9;
    --blue: #090788;
    --pink: #cc1e75;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}